[submodule "vendor/zerokit"]
	path = vendor/zerokit
	url = https://github.com/vacp2p/zerokit.git
	ignore = dirty
	branch = v0.5.1
[submodule "vendor/waku-rlnv2-contract"]
	path = vendor/waku-rlnv2-contract
	url = https://github.com/logos-messaging/waku-rlnv2-contract.git
	ignore = untracked
	branch = master
