# Only zerokit, waku-rlnv2-contract, and nim-ffi are kept as vendor submodules.
# nim-ffi is kept because it has an invalid .nimble file that breaks nimble dependency resolution.
# All other dependencies are managed via Nimble.

[submodule "vendor/zerokit"]
	path = vendor/zerokit
	url = https://github.com/vacp2p/zerokit.git
	ignore = dirty
	branch = v0.5.1
[submodule "vendor/waku-rlnv2-contract"]
	path = vendor/waku-rlnv2-contract
	url = https://github.com/logos-messaging/waku-rlnv2-contract.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-ffi"]
	path = vendor/nim-ffi
	url = https://github.com/logos-messaging/nim-ffi/
	ignore = untracked
	branch = master
